.version-tag {
  color: white;
  background-color: #88a3e7;
  border-radius: 0.8em;
  padding: 0.3em;
  margin: 0.5em;
  font-size: 0.9em;
  margin-top:0.8em;
}

.dependency-description p {
    margin: 0;
}

.dependency-description .name {
    margin-right: 0.2em;
    font-size: 1.2em;
}

.dependency-description .vendor {
    font-size: 0.8em;
    color: grey;
}

hr {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.category-container {
    display: flex;
    align-items: center;
}
  
.icon {
    max-width: 20px; /* Adjust the maximum width of the icon */
    height: auto; /* Maintain aspect ratio */
}
  
.category-text {
    margin-left: 10px; /* Add margin between the icon and text */
}

.plugin-date {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 720px) {
    .menu-divider {
        display: none;
    } 
}