<div fxLayout="row" fxLayoutAlign="space-between start">
  <div fxLayout="column" fxFlex="65%">
    <mat-tab-group [(selectedIndex)]="selectedTab">

      <mat-tab label="Description">
        <ng-template matTabContent>
          <div style="margin-left: 20px; margin-right: 20px; margin-top: 20px;">
            <h3>{{ plugin.name }}</h3>
            <h4>VERSION [1.19.1]</h4>
            <p>
              {{ plugin.description }}
            </p>
          </div>
        </ng-template>
      </mat-tab>

      <mat-tab label="Dependencies">
        <ng-template matTabContent>
          <mat-list>
            <mat-list-item
              *ngFor="let dependency of plugin.dependencies"
              style="height:4.5em"
            >
              <div class="dependency-description"  style="margin-left: 20px; margin-right: 20px; margin-top: 20px;">
                <div fxLayout="row" fxLayoutAlign="start end">
                  <p class="name">{{ dependency.name }}</p>
                  <p class="version-tag">{{ dependency.version }}</p>
                </div>
                  <p class="vendor">{{ dependency.vendor }}</p>
              </div>
              <hr />
            </mat-list-item>
          </mat-list>
        </ng-template>
      </mat-tab>

      <mat-tab label="Changelog">
        <ng-template matTabContent>
          <div style="margin-left: 20px; margin-right: 20px; margin-top: 20px;">
            <p>
              This is the changelog.
            </p>
          </div>
        </ng-template>
      </mat-tab>

      <mat-tab label="Supplier information">
        <ng-template matTabContent>
          <div style="margin-left: 20px; margin-right: 20px; margin-top: 20px;">
            <p>{{ plugin.developer }}</p>
            <p>Supplier e-mail: supplier123@gmail.com</p>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="FAQ">
        <ng-template matTabContent>
          <div style="margin-left: 20px; margin-right: 20px; margin-top: 20px;">
            <p [innerHTML]="getFormattedFAQ()"></p>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>

  <hr style="border-top: 350px solid #808080" />

  <div fxLayout="column" fxFlex="30%">

    <mat-card  class="categories" style="border: none; box-shadow: none; margin-bottom: 20px;">
      <mat-card-title>
        <h3>Categories</h3>
      </mat-card-title>
      <mat-card-content *ngFor="let category of plugin.categories">
        <div fxLayout="row" fxLayoutAlign="start center" class="category-container">
          <img id="plugin-type-icon" [src]="'assets/plugin_types_icons/Synthetic Data Generation.png'" alt="Plugin Type Icon" class="icon">
          <p class="category-text">{{ category }}</p>
        </div>
      </mat-card-content>
    </mat-card>
    

    <hr style="border-left: 100%; margin: 0; max-width: 100%" />

    <mat-card class="more-info" style="border: none; box-shadow: none">
      <mat-card-title>
        <h3>More Info</h3>
      </mat-card-title>
      <mat-card-content>
        <p>Release Date: {{ plugin.release_date | date:'yyyy-MM-dd'}}</p>
        <p>Last Update: {{ plugin.last_update_date | date:'yyyy-MM-dd'}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>