<div class="menu">
  <div class="tab-menu">
    <mat-tab-group [(selectedIndex)]="selectedTab" id="plugin-menu">
      <mat-tab label="Description">
        <ng-template matTabContent>
          <h3>{{ this.plugin.title }}</h3>
          <h4>VERSION [1.19.1]</h4>
          <p>
            {{ this.plugin.description }}
          </p>
        </ng-template>
      </mat-tab>
      <mat-tab label="Requirements">
        <ng-template matTabContent>
          <p>
            These are the requirements:
          </p>
          <mat-list>
            <mat-list-item>Requirement 1</mat-list-item>
            <mat-list-item>Requirement 2</mat-list-item>
            <mat-list-item>Requirement 3</mat-list-item>
          </mat-list>
        </ng-template>
      </mat-tab>
      <mat-tab label="Changelog">
        <ng-template matTabContent>
          <p>
            This is the changelog.
          </p>
        </ng-template>
      </mat-tab>
      <mat-tab label="Extra Item">
        <ng-template matTabContent>
          <p>
            Some extra content... (yet to determine)
          </p>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
  <hr class="solid">
  <div class="right-menu">
    <mat-card class="categories">
      <mat-card-title>
        <h3>Categories</h3>
      </mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item>Category 1</mat-list-item>
          <mat-list-item>Category 2</mat-list-item>
          <mat-list-item>Category 3</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  <hr class="solid">
    <mat-card class="more-info">
      <mat-card-title>
        <h3>More Info</h3>
      </mat-card-title>
      <mat-card-content>
        <p>
          Last Update: mm/dd/yyyy
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>