.version-tag {
  color: white;
  background-color: #88a3e7;
  border-radius: 0.8em;
  padding: 0.3em;
  margin: 0.5em;
  font-size: 0.9em;
  margin-top:0.8em;
}

.dependency-description p {
    margin: 0;
}

.dependency-description .name {
    margin-right: 0.2em;
    font-size: 1.2em;
}

.dependency-description .vendor {
    font-size: 0.8em;
    color: grey;
}

hr {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}