<div class="plugin-card" (click)="openDialog()">
	<div class="m-5">
		<img class="w-100" [src]="this.tool.logo" [alt]="this.tool.name">
	</div>

	<div class="plugin-card-body">
		<h5 class="plugin-card-title">{{ this.tool.name }}</h5>
		<h6 class="plugin-card-subtitle mt-2"> {{ this.tool.developer }} </h6>
		<div class="plugin-card-text"> {{ this.tool.description }} </div>

		<div class="plugin-badges">
			<!-- Premium or Free badge -->
			<div>
				<span *ngIf="this.tool.price > 0; then thenBlock else elseBlock"></span>
				<ng-template #thenBlock>
					<span class="badge" id="premium">PREMIUM</span>
					<span tooltip-container>
						<span class="tooltip">{{this.tool.type_description}}</span>
					</span>
				</ng-template>
				<ng-template #elseBlock>
					<span class="badge" id="free" #elseBlock>FREE</span>
				</ng-template>
			</div>
			
			<!-- Plugin type badge -->
			<div class="tooltip-container">
				<span class="badge" [id]="this.tool.css_id">{{this.tool.type}}</span>
				<span class="tooltip">{{this.tool.type_description}}</span>
			</div>
		</div>
	</div>
</div>