<div class="plugin-card" (click)="openDialog()">
	<!-- Premium or Free badge -->
    <div class="pricing-badge">
        <span class="badge" id="premium" *ngIf="this.tool.price > 0; else elseBlock">PREMIUM</span>
        <ng-template #elseBlock><span class="badge" id="free" #elseBlock>FREE</span></ng-template>
    </div>

	<div class="plugin-icon">
		<img id="plugin-type-icon" [src]="this.tool.type_icon" alt="Plugin Type Icon">
		<span class="tooltip">{{this.tool.type_description}}</span>
	</div>

	<div class="m-5" >
		<img id="plugin-image" [src]="this.tool.logo" [alt]="this.tool.name">
	</div>

	<h5 class="plugin-card-title">{{ this.tool.name }}</h5>
	<h6 class="plugin-card-subtitle mt-2"> {{ this.tool.type }} </h6>
	<p class="plugin-card-text"> {{ this.tool.description }} </p>
</div>
