:host
{
	--details-button-color: #00BB55;
	--details-button-sec-color: #FFFFFF;
	--details-button-text-color-hover: #00BB55;
	--download-button-color: #00AAFF;
	--download-button-sec-color: #FFFFFF;
	--download-button-text-color-hover: #00AAFF;
	--download-button-radius: 45px;
}

/************************************ BADGES ************************************/

.badge
{
    padding: 5px 8px;
	margin: 0px 5px 0px 0px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
	text-transform: uppercase;
}

.badge#free
{
	background-color: #00BB55;
}

.badge#premium
{
	background-color: #FF7777;
}

.badge#data-curation
{
	background-color: #00BBAA;
}

.badge#data-quality
{
	background-color: #FFAA00;
}

.badge#synthetic-data-generation
{
	background-color: #8a48f3;
}

/************************************ PLUGIN CARD ************************************/

.plugin-card
{
	font-family: Roboto, "Helvetica Neue", sans-serif;
	width: 23rem;
	margin: 5px;
	border: solid;
	border-width: 1px;
	border-radius: 2%;
	border-color: #BBBBBB;
	position: relative;
	min-height: 85%;
}

.plugin-card:hover
{
	box-shadow: 0px 5px 10px lightgrey;
	cursor: pointer;
}

/************************************ PLUGIN CARD IMAGE ************************************/

.plugin-card-image
{
	background-color: #FFFFFF;
}

/************************************ PLUGIN CARD BODY ************************************/

.plugin-card-body
{
	background-color: #F0F0F0;
	padding: 15px;
	position: relative;
}

.plugin-card-title
{
	font-size: 1.35rem;
	font-weight: normal;
	margin: 0;
}

.plugin-card-subtitle
{
	font-size: 1rem;
	font-weight: normal;
	margin: 5px 0px 15px 0px;
	color: #777777;
}

.plugin-card-text
{
	line-height: 25px;
	text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.plugin-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.plugin-badges
{
	display: flex;
	margin-top: 10px;
	justify-content: left;
	align-items: center;
}

#plugin-type-icon
{
	width: 30px;
	height: 30px;
}

.tooltip
{
    visibility: hidden;
    width: max-content;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    border-radius: 50px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip text - show on hover */
.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/************************************ GENERAL ************************************/

a
{
	text-decoration: none;
	color: #FFFFFF
}

.m-5 {
	margin: 3rem;
}

.ms-2 {
	margin-left: 0.5rem;
}

.mb-2 {
	margin-bottom: 0.5rem;
}

.w-100 {
	width: 100%;
}

.w-85 {
	width: 85%;
}

.w-75 {
	width: 75%;
}

.w-50 {
	width: 50%;
}

.d-flex {
	display: flex;
}

.justify-content-around {
	justify-content: space-around;
}

.rounded-pill {
	border-radius: 500px;
}

/************************************ BUTTONS ************************************/

button {
	background-color: #FF7777;
	border: solid;
	border-width: 2px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	transition-duration: 0.4s;
	display: inline-block;
	font-size: 16px;
}

#download-button {
	background-color: var(--download-button-color);
	border-radius: 50px;
	height: var(--download-button-radius);
	font-size: 16px;
	font-weight: bold;
	color: var(--download-button-sec-color);
}

#download-button:hover a
{
	font-weight: normal;
	color: var(--download-button-text-color-hover);
}

#download-button:hover {
	background-color: var(--download-button-sec-color);
	border-color: var(--download-button-color);
}
