<div class="plugin-card">
	<div class="m-5">
		<img id="plugin-image" [src]="this.tool.logo" [alt]="this.tool.name">
	</div>

	<div class="plugin-card-body">
		<h5 class="plugin-card-title">{{ this.tool.name }}</h5>
		<h6 class="plugin-card-subtitle mb-2"> {{ this.tool.type }} </h6>
		<p class="plugin-card-text"> {{ this.tool.description }} </p>
		<div class="d-flex w-100 justify-content-around">
			<button id="view-details-button" class="btn rounded-pill w-85" (click)="openDialog()">
				<a>
					<span>View details</span>
					<span class="ms-2 fa fa-arrow-right"></span>
				</a>
			</button>
			<button id="download-button" class="btn">
				<a><span class="fa fa-cloud-download"></span></a>
			</button>
		</div>
	</div>
</div>