/* app.component.css */
.container {
  width: 80%;
  margin: 0 auto;

}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-header a {
  margin-left: auto; 
}

.category-header a mat-icon{
  vertical-align: middle;
}

.category-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.category {
  margin-bottom: 20px;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
}

.scroll-item {
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
}

.tag-grid {
  display:flex;
  flex-direction: row;
}

.tag-grid a{
  display: block;
  width: 100%;
  height: 50px;
  background-color: lightgray; /* Set the background color to grey */
  text-align: center;
  line-height: 50px;
  margin: 5px;
  text-decoration: none;
  color: black; /* Set the text color to white */
  cursor: pointer;
}
