/* app.component.css */
.container {
  width: 80%;
  margin: 0 auto;

}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-header a {
  margin-left: auto; 
}

.category-header a mat-icon{
  vertical-align: middle;
}

.category-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.category {
  margin-bottom: 20px;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
}

.scroll-item {
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
}

.tag-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  margin: 20px auto; /* updated */
  width: 100%; /* specify a width */
}

.tag-grid button {
  padding: 10px;
}

