<div fxLayout="row">
    <div class="background-menu">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput [formControl]="filter" placeholder="Find a workspace" value="">
            </mat-form-field>
            <nav fxLayout="column">
                <a *ngFor="let workspace of this.filteredWorkspaces" [routerLink]="'workspace/' + workspace.id">{{ workspace.title }}</a>
            </nav>
        </form>
    </div>
    <div class="tools">
        <router-outlet></router-outlet>
    </div>
</div>
