<div id="plugin-card" class="card" style="width: 23rem;">
	<div class="m-5">
		<img id="plugin-image" src={{ this.tool.image }} class="card-img-top ml-5 mr-5" alt="YData logo">
	</div>

	<div class="card-body">
		<h5 class="card-title">{{ this.tool.name }}</h5>
		<h6 class="card-subtitle mb-2 text-body-secondary"> {{ this.tool.type }} </h6>
		<p class="card-text"> {{ this.tool.description }} </p>
		<div class="d-flex w-100 justify-content-around">
			<a href="#" id="view-details-button" class="btn rounded-pill w-75">
				<span>View details</span>
				<span class="ms-2 fa fa-arrow-right"></span>
			</a>
			<a href="#" id="download-button" class="btn btn-outline-info">
				<span class="fa fa-cloud-download"></span>
			</a>
		</div>
	</div>
</div>
<!-- <div id="plugin-card" class="card" style="width: 23rem;">
	<div class="m-5">
		<img id="plugin-image" src="../assets/ydata.png" class="card-img-top ml-5 mr-5" alt="YData logo">
	</div>

	<div class="card-body">
		<h5 class="card-title">YData</h5>
		<h6 class="card-subtitle mb-2 text-body-secondary">Synthetic Generation Tool</h6>
		<p class="card-text">YData Fabric empowers users to easily understand and manage data assets,
			synthetic data for fast data access and pipelines for iterative and scalable flows.
			Better data, more reliable models delivered at scale.</p>
		<div class="d-flex w-100 justify-content-around">
			<a href="#" id="view-details-button" class="btn rounded-pill w-75">
				<span>View details</span>
				<span class="ms-2 fa fa-arrow-right"></span>
			</a>
			<a href="#" id="download-button" class="btn btn-outline-info">
				<span class="fa fa-cloud-download"></span>
			</a>
		</div>
	</div>
</div> -->