<mat-card>
  <mat-card-title>
    <h1>{{ this.plugin.title }}</h1>
  </mat-card-title>
  <mat-card-subtitle>
    <h3>Plugin #{{ this.id }}</h3>
    <hr />
  </mat-card-subtitle>
  <mat-card-content>
    {{ this.plugin.description }}
  </mat-card-content>
  <div class="tab-menu">
    <mat-tab-group [(selectedIndex)]="selectedTab" id="plugin-menu">
      <mat-tab label="Details">
        <ng-template matTabContent>
          <h3>Details about {{ this.plugin.title }}</h3>
        </ng-template>
      </mat-tab>
      <mat-tab label="Info">
        <ng-template matTabContent>
          <h3>Information about {{ this.plugin.title }}</h3>
        </ng-template>
      </mat-tab>
      <mat-tab label="Changelog">
        <ng-template matTabContent>
          <h3>Changelog</h3>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-card>