.plugin-card
{
	font-family: Roboto, "Helvetica Neue", sans-serif;
	width: 23rem;
}

.plugin-card-title
{
	font-size: 1.25rem;
	font-weight: normal;
	margin: 0;
}

.plugin-card-subtitle
{
	font-size: 1rem;
	font-weight: normal;
	margin: 5px 0px 15px 0px;
	color: #777777;
}

.plugin-card-text
{
	line-height: 25px;
	max-height: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
}

a {
	text-decoration: none;
	color: #FFFFFF
}

#plugin-card {
	border-radius: 5%;
}

#plugin-image {
	width: 100%;
}

.m-5 {
	margin: 3rem;
}

.ms-2 {
	margin-left: 0.5rem;
}

.mb-2 {
	margin-bottom: 0.5rem;
}

.w-100 {
	width: 100%;
}

.w-85 {
	width: 85%;
}

.w-75 {
	width: 75%;
}

.d-flex {
	display: flex;
}

.justify-content-around {
	justify-content: space-around;
}

.rounded-pill {
	border-radius: 500px;
}

/************************************ BUTTONS ************************************/

button {
	background-color: #4CAF50;
	border: solid;
	border-width: 2px;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	transition-duration: 0.4s;
	display: inline-block;
	font-size: 16px;
}

#view-details-button {
	--details-button-color: #00BB55;
	--details-button-sec-color: #FFFFFF;
	background-color: var(--details-button-color);
	font-size: 16px;
	font-weight: bold;
}

#view-details-button:hover a
{
	color: var(--details-button-color);
	font-weight: normal;
}

#view-details-button:hover {
	border-color: var(--details-button-color);
	background-color: var(--details-button-sec-color);
}

#download-button {
	--download-button-color: #00AAFF;
	--download-button-sec-color: #FFFFFF;
	--download-button-text-color-hover: #000000;
	--button-radius: 45px;
	background-color: var(--download-button-color);
	border-radius: 50%;
	width: var(--button-radius);
	height: var(--button-radius);
	font-size: 100%;
	font-weight: bold;
	color: var(--download-button-sec-color);
}

#download-button:hover a
{
	font-weight: normal;
	color: var(--download-button-color);
}

#download-button:hover {
	background-color: var(--download-button-sec-color);
	border-color: var(--download-button-color);
}