<div class="header">
    <div class="logo">
      <a href="/">
        <img src="../../assets/img/logo.jpg" alt="Logo">
      </a>
    </div>
    <div class="nav-links">
      <a routerLink="/workspaces" (click)="onButtonClick('click')">Workspaces</a>
      <a routerLink="/datasources">Datasources</a>
      <a routerLink="/analysis">Analysis</a>
      <a routerLink="/predicitions">Predictions</a>
      <a routerLink="/tools">Tools</a>
      <a routerLink="/search">Store</a>
      <div class="user-profile">
          <a routerLink="/profile">
              <img src="../../assets/img/default_pic.png" alt="User Profile">
          </a>
      </div>
    </div>
</div>
  