/* .results-page {
    display: flex;
    align-items: flex-start;
  } */
  
 /*  .filter-section {
    flex: 1; // Adjust the width as needed 
    float: left;
  }
  
  .results-section {
    flex: 3; // Adjust the width as needed 
  }
  
  .results-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .result-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  } */