<footer class="footer">
  <hr>
  <div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="75%">
      <p>This project has received funding from the Innovative Medicines Initiative 2 Joint Undertaking under grant agreement No 101007799. This Joint Undertaking receives support from the European Union’s Horizon 2020 research and innovation programme and EFPIA.
        Copyright 2023 VAXPRED. All rights reserved.
      </p>
    </div>
    <div fxFlex="25%">
      <img [src]="this.footerimg" [alt]="this.footerimg_alt" class="footerimg">
    </div>
  </div>
</footer>
